.got-box {
  background-color: #221f1f;
  color: #fff;
  border: 2px solid #a79683;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.column-container {
  display: flex;
  justify-content: space-between; /* Distribute columns evenly */
  width: 900px; /* Total width for three columns */
  margin: auto;
  column-gap: 20px;

  grid-template-columns: repeat(4, 223px);
}

.got-box:hover {
  background-color: #321f1f; /* Change to a slightly darker color on hover */
  transform: scale(1.05); /* Scale the box up by 5% on hover */
}




.got-content {
  font-size: 16px;
}

.got-content p {
  margin: 0;
  padding: 10px;
}
.got-banner img{
  width: 100px;
  height: fit-content;
}
.got-box img{
  width: 240px;
  height: fit-content;
}


.got-content a{
  text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}