.navbar {
    background-color: #331C0E;
    padding: 10px 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-item a,p {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}
.navbar-list h6{
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
    font-weight: normal;
    text-align: left;

}

.navbar-item a:hover {
    color: #FFF190;
}


.navbar-logo img {
    width: 80px;
    height: 80px;
}